.c-header {
    &__landing {
        display: flex;
        align-items: center;
        color: #fff;
        width: 100%;
        padding: 64px 0 64px 0;
        text-align: center;
        margin: 0;
        &--blue {
            background-color: $blue-400;
        }
        &--yellow {
            background-color: $secondary-600;
        }
        &--pic {
            background: url(../../content/images/Map.png);
            width: 100%;
            height: 500px;
        }
    }
}

.c-landing__label {
    display: flex;
    flex-flow: row;
    align-items: center;
    position: absolute;
    width: 90px;
    height: 22px;
    padding: 4px 8px;
    top: 4px;
    background-color: $secondary-500;
    border-radius: 4px;
    box-shadow: $shadow-1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}

.c-landing__title {
    margin: 0;
    padding: 0;
    &--1 {
        margin-bottom: 8px;
    }
    &--2 {
        margin: 46px 0 24px 0;
    }
}

@include for-desktop-up {
    .c-landing__title {
        width: 45%;
    }
    .c-landing__content {
        width: 65%;
    }
}