.c-navigation {
    align-items: center;
    background-color: #FFF;
    padding: 18px;
    box-shadow: $shadow-2;
    .c-logo__arrow {
        &--mobile {
            position: absolute;
            width: 22px;
            height: 13px;
            top: 14px;
            left: 0px;
        }
        &--orange {
            display: none;
        }
    }
    .c-logo__softuni {
        &--mobile {
            position: absolute;
            width: 45px;
            height: 55px;
            top: -8px;
            left: 27px;
        }
        &--horizontal {
            display: none;
        }
    }
    .c-header__navbar {
        display: none;
    }
    .c-header__controls {
        display: flex;
        align-items: center;
    }
    .c-navbar__search {
        display: none;
    }
    .c-navbar__list {
        display: flex;
        flex-flow: column nowrap;
        padding: 0;
    }
    .c-navbar__list-item {
        list-style: none;
        border: 1px solid black;
        padding: 10px 15px;
        transition: transform 0.2s ease-in;
        &:hover {
            transform: scale(1.1);
        }
    }
    .c-navbar__link {
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        transition: color 0.2s, ease-in;
        &:hover {
            color: $secondary-800;
        }
    }
    //styles for tablet
    @include for-tablet-landscape-up {
        position: relative;
        .c-logo__arrow {
            &--mobile {
                display: none;
            }
            &--orange {
                display: inline-block;
                position: relative;
                width: 22px;
                height: 13px;
                left: 0px;
            }
        }
        .c-logo__softuni {
            &--mobile {
                display: none;
            }
            &--horizontal {
                display: inline-block;
                position: relative;
                width: 120px;
                height: 40px;
                left: 27px;
            }
        }
        .c-header__controls {
            .c-navbar__search {
                display: inline-block;
                padding: 0 32px 0 32px;
            }
        }
    }
    //styles for desktop
    @include for-desktop-up {
        padding: 0;
        .c-menu-label {
            display: none;
        }
        .c-header__navbar {
            display: flex;
            flex-flow: row wrap;
            .c-navbar__list {
                flex-flow: row wrap;
                margin: 0;
                padding: 0;
            }
        }
        .c-navbar__list-item {
            border: none;
            padding: 29px 12px;
        }
        .c-navbar__link {}
    }
}

.c-menu-btn {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
}

.c-menu-btn+.c-header .c-menu-label {
    .open {
        display: none;
        margin-left: 24px;
    }
    .close {
        display: block;
        margin-left: 24px;
    }
}

.c-menu-btn:checked+.c-header .c-menu-label {
    .open {
        display: block;
    }
    .close {
        display: none;
    }
}

.c-menu-btn:checked+.c-header .c-header__navbar {
    display: block;
    width: 100%;
    order: 1;
    padding: 0 20px;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 10;
    background-color: #fff;
}