@import url('https://use.fontawesome.com/releases/v5.13.0/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: "Lato";
    src: url("../../content/fonts/Lato/fonts/Lato-Regular.woff2") format("woff2"), url("../../content/fonts/Lato/fonts/Lato-Regular.woff") format("woff");
}

@font-face {
    font-family: "Lato Black";
    src: url("../../content/fonts/Lato/fonts/Lato-Black.woff2") format("woff2"), url("../../content/fonts/Lato/fonts/Lato-Black.woff") format("woff");
}

html,
* {
    font-family: 'Lato';
}

a,
button {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

a {
    font-weight: 600;
}

button {
    font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}

h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

h6 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.c-inline-link {
    font: inherit;
    color: $secondary-800;
}

.c-program__trainings {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.c-personal__info__name {
    color: $primary-300;
}

.c-personal__info__position {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $grey-400;
}

.c- .c-footer__list__heading {
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    padding: 32px 0 16px 0;
    margin: 0;
}

.c-contact__heading {
    color: $primary-300;
    margin: 0;
    &--centered {
        text-align: center;
    }
}