.c-directors,
.c-trainers {
    margin-top: 16px;
    row-gap: 16px;
}

.c-directors {
    @include side-border(bottom, dotted, 10, $primary-50);
    padding-bottom: 32px;
    column-gap: 32px;
    @include for-desktop-up {
        grid-template-columns: 1fr 1fr;
        padding: 80px 0 80px 0;
    }
}

.c-trainers {
    max-height: 1210px;
    overflow: hidden;
    @include for-desktop-up {
        margin: 48px 0 48px 0;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 24px;
        max-height: unset;
    }
}

.c-job {
    background-color: $blue-300;
    color: white;
    padding: 64px 0 76px 0;
    margin-top: 96px;
    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 12px;
        background-color: $blue-200;
        position: relative;
        top: -64px;
    }
    &__form {
        margin-top: 30px;
        &__input {
            color: inherit;
            background-color: inherit;
            border: 1px solid #fff;
            border-radius: 6px;
            width: 100%;
            padding: 16px;
            margin: 18px 0 18px 0;
            &::placeholder {
                color: inherit;
            }
        }
        .c-btn {
            margin-top: 28px;
            &__primary {
                padding: 16px 129px;
            }
        }
    }
    @include for-desktop-up {
        margin-top: 128px;
        padding-bottom: 128px;
        .o-content-container {
            text-align: center;
            width: 65%;
        }
        &__form {
            display: grid;
            grid-template-columns: repeat(3, 1fr) max-content;
            column-gap: 32px;
            align-items: center;
        }
        .c-btn {
            margin-top: unset;
            margin-left: 16px;
            &__primary {
                padding: 14px 32px;
            }
        }
    }
}